@import '@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue. 

$material-theme-primary: mat-palette($mat-teal, /*$default*/500, /*$lighter*/100, /*$darker*/700);
$material-theme-accent:  mat-palette($mat-indigo,/*$default*/500, /*$lighter*/100, /*$darker*/700);
// The warn palette is optional (defaults to red).
$material-theme-warn:    mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$material-theme-theme: mat-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($material-theme-theme);
