<div class="middle-box text-center loginscreen  animated fadeInDown">
   
    <div class="login-form">
         <div class="login-header">
       <h3>Welcome</h3>
        <p>Register to continue</p>
         </div>
        
        <form class="m-t" role="form" action="#" style="margin: 15px;">
                <md-input-container class="full-width">
                 <input mdInput type="text" placeholder="Name" required="required">
                </md-input-container>
                <md-input-container class="full-width">
                 <input mdInput type="email" placeholder="Username" required="required">
                </md-input-container>
            <md-input-container class="full-width">
                 <input mdInput type="password" placeholder="Password" required="required">
                </md-input-container>         
            <button md-raised-button color="primary" type="submit" class="full-width"><small>Create account</small></button>
            <p></p>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>